.Header {
    display: flex;
    align-items: center;
    background-color: #90A3A9;
    height: 15vh;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.Header input {
    border: none;
    padding: 1vh;
    width: 50vh;
    border-radius: 15px;
}

.LeftNav img {
    width: 13vh;
    padding-left: 2.5vh;
}


.rightNavLogin img {
    width: 13vh;
}

.rightNavShopping img {
    width: 10vh;
    padding-right: 1vh;
}

.rightNav {
    display: flex;
    align-items: center;
}

/* .middleNav {
    padding-left: 11vh;
} */

#Searchbar_hamburger{
    display: none;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

body {
    margin: 0%;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.p {
    font-family: Century Gothic;
}

.footer{
    background-color: #90A3A9;
    display: flex;
    height: 20vh;
    width: 100%;
    margin-top: 10vh;
}

.footerShoping {
    background-color: #90A3A9;
    display: flex;
    height: 20vh;
    width: 100%;
    margin-top: 10vh;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

#linkerRegler{
    text-decoration: none;
    padding-left: 2vh;
    gap: 5vh;
    
}

.Upperbody {
    display: flex;
    justify-content: center;
    padding-top: 25vh;
}

.Upperbody img {
  width: 60%;
  border-radius: 3VH;
}

/* _______________________  produkter  */


#Anbefalinger_av_oss,
h2 {
    display: flex;
    justify-content: center;
    padding: 5vh;
    font-size: 6vh;
    margin-bottom: 8vh;

}

.anbefalt_oss {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    width: 95%;
}

.product_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 110%;
    border: 2px solid black;
    border-radius: 2vh;
    background-color: #ffff;
    overflow: hidden; 
    width: 430px;
    height: 280px;
    padding-bottom: 1.5vh;

}


.add_to_cart {
    padding-right: 3vh;
    display: flex;
    justify-content: right;

}

.add_to_cart button {
    border-radius: 5vh;
    background-color: #EDF7F6;
    width: 15vh;
    border: none;
    
}

.product_card_item{
    height: 160px;
    display: flex;
    justify-content: center;
}

.product_card img {
    width: auto;   
    height: 130px;
}

.product_card .product_card_info{
    background-color: #3B83BD   ;
    width: 100%;
    height: 100%;    
}

.product_card p{
    padding-left: 2%;
    padding-right: 2%;
    color: white;
}








/* _______________________ Shopping page */

#Handlekurv {
    margin-top: 8%;
}

.itemList {
    background-color: gray;
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    gap: 5vh;
}

.leftItemList {
    margin-left: 1vh;
}

.rightItemList {
    display: flex;
    gap: 15vh;
    margin-right: 5vh;
    justify-content: center;
    align-items: center;
}

#Handlekurven button{
    width: 15vh;
    border-radius: 5vh;
    border-style: none;
    height: 5.4vh;
    background-color: #82EEFD ;
}

#Handlekurven button:hover{
    opacity: 0.9;
    background-color: #ffdfdf;
}


/* _______________________ detter er for å dele opp koden inn i deler */




/* _______________________ login side */

.login_body {
    background-color: #3B83BD;
}

.Header_Login {
    display: flex;
    align-items: center;
    background-color: #90A3A9;
    height: 15vh;
    justify-content: center;
}

.Header_Login img {
    width: 15vh;
    padding-left: 1vh;
}

.logginn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
    height: 75vh;
}


.brukernavn input {
    height: 5vh;
}

.brukernavn input {
    height: 8vh;
    font-size: 3vh;
}

.passord input {
    height: 8vh;
    font-size: 3vh;

}

button {
    width: 10vh;
    height: 6vh;
}

button:hover {
    opacity: 0.8;
    background-color: #82EEFD ;
}
/* _______________________ Header Anims */

.menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #333;
    transform: translateX(100%);
    transition: transform 0.5s ease;
    
  }
  
  .menu-items.show {
    transform: translateX(0);
  }
  
  .menu-items li {
    padding: 10px;
  }
  
  .menu-items li a {
    text-decoration: none;
    color: #fff;
  }
  
  .content {
    padding: 20px;
  }
  
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding-right: 5vh;

  }
  
  .line {
    width: 50px;
    height: 6px;
    background-color: #fff;
    margin: 4px 0;
    transition: transform 0.3s ease;
  }
  
  .line:first-child {
    transform-origin: top left;
  }
  
  .line:last-child {
    transform-origin: bottom left;
  }
  
  .hamburger-menu.active .line:nth-child(1) {
    transform: rotate(45deg) translate(-2.1px, -11.5px);
  }
  
  .hamburger-menu.active .line:nth-child(2) {
    transform: rotate(-45deg) translate(-2.5px, 11.5px);
  }

  .product_card {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.product_card:hover, .product_card:focus, .product_card:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/* Respponivt */
@media screen and (max-width: 600px) {

    .Header{
        width: 100%;
        height: 10vh;
    }
    .LeftNav img {
        width: 10vh;
    }
    .middleNav{
        max-width: 10%;
    }
    
    .anbefalt_oss{
        display: flex;
        flex-direction: column;
    }


    .middleNav{
        display: none;
    }

    #Searchbar_hamburger{
        display: block;
        width: 90%;
    }



    .body{
        width: 100%;
        position: absolute;
    }

    .itemList{
        width: 100%;

    }
    .middleItemList{
        display: none;
    }
    .rightItemList{
        display: flex;
        justify-content: center;
        gap: 5vh;
        margin-right: 1vh;
    }

 
}