@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.Header {
    display: flex;
    align-items: center;
    background-color: #90A3A9;
    height: 15vh;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    
}

.Header input {
    border: none;
    padding: 1vh;
    width: 50vh;
    border-radius: 15px;
}

.LeftNav img {
    width: 13vh;
    padding-left: 2.5vh;
}


.rightNavLogin img {
    width: 13vh;
}

.rightNavShopping img {
    width: 10vh;
    padding-right: 1vh;
}

.rightNav {
    display: flex;
    align-items: center;
}

/* .middleNav {
    padding-left: 11vh;
} */

#Searchbar_hamburger{
    display: none;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

body {
    margin: 0%;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}



.footer {
    display: flex;
    background-color: #90A3A9;
    height: 20vh;
    margin-top: 5vh;
    gap: 1vh;
    
   
}

.footer-line {
    width: 2px;
    height: 70%;
    background-color: black;
    margin-left: 1vh;
}

.footer img {
    width: 15vh;
}

.footer-content {
    display: flex;
    height: 100%;
    align-items: center;
}

.footer-about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2vh;
    color: black;
   
}

.footer-corner {
    display: flex;
    height: 100%;
    align-items: center;
}

.footer-personvern {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2vh;
    color: black;
    

}


.footer a{
    color: black;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}

.footerShoping {
    background-color: #90A3A9;
    display: flex;
    height: 20vh;
    width: 100%;
    margin-top: 10vh;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

#linkerRegler{
    text-decoration: none;
    padding-left: 2vh;
    gap: 5vh;
    
}

.Upperbody {
    display: flex;
    justify-content: center;
    padding-top: 25vh;
}

.Upperbody img {
  width: 60%;
  border-radius: 3VH;
}

/* _______________________  produkter  */


#Anbefalinger_av_oss  {
    display: flex;
    justify-content: center;
    padding: 5vh;
    font-size: 6vh;
    margin-bottom: 8vh;

}

.anbefalt_oss {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    width: 95%;
}

.product_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 90%;
    border: 2px solid black;
    border-radius: 2vh;
    background-color: #ffff;
    overflow: hidden; 
    width: 430px;
    height: 300px;
    padding-bottom: 1.5vh;

}


.add_to_cart {
    padding-right: 3vh;
    display: flex;
    justify-content: right;

}

.add_to_cart button {
    border-radius: 5vh;
    background-color: #EDF7F6;
    width: 15vh;
    border: none;
    
    
}

.product_card_item{
    height: 160px;
    display: flex;
    justify-content: center;
}

.product_card img {
    width: auto;   
    height: 130px;
    padding-bottom: 2vh;
}

.product_card .product_card_info{
    background-color: #3B83BD   ;
    width: 100%;
    height: 100%;    
}

.product_card p{
    padding-left: 2%;
    padding-right: 2%;
    color: white;
    padding-top: 1.3vh;

}
/* _______________________ Shopping page */

#Handlekurv {
    margin-top: 8%;
}








.itemList {
    background-color: gray;
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    gap: 5vh;
    margin-bottom: 2vh;
}

.leftItemList {
    margin-left: 1vh;
}

.rightItemList {
    display: flex;
    gap: 15vh;
    margin-right: 5vh;
    justify-content: center;
    align-items: center;
}

#Handlekurven button{
    width: 15vh;
    border-radius: 5vh;
    border-style: none;
    height: 5.4vh;
    background-color: #82EEFD ;
}

#Handlekurven button:hover{
    opacity: 0.9;
    background-color: #ffdfdf;
}

.product-wrapper{
    display: flex;
    gap: 2vh;
    justify-content: left;
    padding-left: 1vh;
}

.product-knapp button  {
    border-radius:100%;
    background-color: transparent;
    width: 4vh;
    height: 4vh;
    border: none;

}

.product-knapp button:hover {
    background-color: transparent;


}

.product-navn {
    width: 9.8vw;

}

.product-price{
    padding-left: 50vw;
    width: 9vw;

}

.product-amount {
    width: 18vw;
    padding-left: 9vw;

}

.Buy{
    background-color: red;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* _______________________ detter er for å dele opp koden inn i deler */




/* _______________________ login side */

.login_body {
    background-color: #3B83BD;
}

.Header_Login {
    display: flex;
    align-items: center;
    background-color: #90A3A9;
    height: 15vh;
    justify-content: center;
}

.Header_Login img {
    width: 15vh;
    padding-left: 1vh;
}

.logginn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
    height: 75vh;
}




.brukernavn input {
    height: 8vh;
    width: 25vh ;
    font-size: 2.5vh;
    border-radius: 2vh;
    border: transparent; 
}

.passord input {
    height: 8vh;
    width: 25vh ;
    font-size: 2.5vh;  
    border-radius: 2vh;
    border: transparent;
}

.login_button button{
    border: none;
    border-radius: 2vh;
}

button {
    width: 10vh;
    height: 6vh;
    border: none ;
    cursor:pointer;
    
}

button:hover {
    opacity: 0.8;
    background-color: #82EEFD ;
}
/* _______________________ Header Anims */

.menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #333;
    transform: translateX(100%);
    transition: transform 0.5s ease;
    
  }
  
  .menu-items.show {
    transform: translateX(0);
  }
  
  .menu-items li {
    padding: 10px;
  }
  
  .menu-items li a {
    text-decoration: none;
    color: #fff;
  }
  
  .content {
    padding: 20px;
  }
  
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding-right: 5vh;

  }
  
  .line {
    width: 50px;
    height: 6px;
    background-color: #0C1713;
    margin: 4px 0;
    transition: transform 0.3s ease;
  }
  
  .line:first-child {
    transform-origin: top left;
  }
  
  .line:last-child {
    transform-origin: bottom left;
  }
  
  .hamburger-menu.active .line:nth-child(1) {
    transform: rotate(45deg) translate(-2.1px, -11.5px);
  }
  
  .hamburger-menu.active .line:nth-child(2) {
    transform: rotate(-45deg) translate(-2.5px, 11.5px);
  }

  .product_card {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.product_card:hover, .product_card:focus, .product_card:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/* Respponivt */


@media screen and (max-width: 600px) {

    .Header{
        width: 100%;
        height: 10vh;
    }
    .LeftNav img {
        width: 10vh;
    }
    .middleNav{
        max-width: 10%;
    }
    
    .anbefalt_oss{
        display: flex;
        flex-direction: column;
    }


    .middleNav{
        display: none;
    }

    #Searchbar_hamburger{
        display: block;
        width: 90%;
    }



    .body{
        width: 100%;
        position: absolute;
        overflow-x: hidden;
        max-width: 100%;
    }

    .itemList{
        width: 100%;

    }
    .middleItemList{
        display: none;
    }
    .rightItemList{
        display: flex;
        justify-content: center;
        gap: 5vh;
        margin-right: 1vh;
    }
  /* Shopig cart */

    .product-wrapper{
        width: 100%;
        font-size: 70%;
        display: flex;
        align-items: center;
    }

    .product-navn{
        width: 28vw;
    }

    .product-price{
        padding-left: 1vw;
     
    }

    .product-amount {
        padding-left: 5vw;
    }
 
    .product-knapp{
        padding-left: 0px;
    }
    
    .product-knapp button {
        color: #000;
    }

    #Handlekurv{
        height: 27px;

    }
    
    #Handlekurven button{
        width: 20vw;
        border-radius: 5vw;
        border-style: none;
        height: 4vh;
        font-size: 65%;
        padding-bottom: 2.8vh;
    }

}

/* licens  /* 

 * Hover.css (http://ianlunn.github.io/Hover/)
 * Version: 2.3.2
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover 