.Header{
    display: flex;
    background-color: #2C4954;
    justify-content: center;
    padding: 2vh;
    
}



body{
    margin: 0%;
    background-color: white;

}

.Upperbody{
    display: flex;
    justify-content: center;
    height: 50vh;
    padding-top: 5vh;
}



#Anbefalinger_av_oss, h2{
    display: flex;
    justify-content: center;
    padding: 5vh;
    font-size: 6vh;
    margin-bottom: 8vh;
    
}

.anbefalt_oss{
    display: flex;
    justify-content: center;
    height: 40vh;
    gap: 10vh;
    margin-bottom: 10vh;
}






.Ukas_Produkt{
    display: flex;
    justify-content: center;
    height: 40vh;
    gap: 8vh;
    margin-top: 15vh;
}
