.Header{
    display: flex;
    background-color: #2C4954;
    justify-content: center;
    
}

body{
    margin: 0%;
    background-color: white;

}

.Upperbody{
    display: flex;
    justify-content: center;
    height: 50vh;
    padding-top: 5vh;
}

#Anbefalinger_av_oss{
    display: flex;
    justify-content: center;
    padding: 5vh;
    
}

.anbefalt_oss{
    display: flex;
    justify-content: center;
    height: 40vh;
    gap: 10vh;
}


