.Header{
    display: flex;
    align-items: center;
    background-color: #90A3A9;
    height: 10vh;
    justify-content: space-between;
}

.rightNav{
    display: flex;
    align-items: center;
    gap: 5vh;
}

input{
    border: none;
    padding: 1vh;
    width: 50vh;
    border-radius: 15px;
}

.Header img{
    width: 10vh;
    padding-left: 1vh;
}


body{
    margin: 0%;
    background-color: white;

}

.Upperbody{
    display: flex;
    justify-content: center;
    height: 50vh;
    padding-top: 5vh;
}

/* _______________________ detter er for å dele opp koden inn i deler */


#Anbefalinger_av_oss, h2{
    display: flex;
    justify-content: center;
    padding: 5vh;
    font-size: 6vh;
    margin-bottom: 8vh;
    
}

.anbefalt_oss{
    display: flex;
    justify-content: center;
    height: 40vh;
    gap: 10vh;
    margin-bottom: 10vh;
}


/* _______________________ detter er for å dele opp koden inn i deler */



.Ukas_Produkt{
    display: flex;
    justify-content: center;
    height: 40vh;
    gap: 8vh;
    margin-top: 15vh;
}


/* _______________________ detter er for å dele opp koden inn i deler */


.footer{
    background-color: #72D9FF;
    display: flex;
    height: 20vh;
    margin-top: 20vh;
    
}