.Header {
    display: flex;
    align-items: center;
    background-color: #90A3A9;
    height: 15vh;
    justify-content: space-between;
}

.LeftNav img {
    width: 13vh;
}


.rightNavLogin img {
    width: 13vh;
}

.rightNavShopping img {
    width: 10vh;
    padding-right: 1vh;
}

.rightNav {
    display: flex;
    align-items: center;
}

.middleNav {
    padding-left: 11vh;
}

.Header input {
    border: none;
    padding: 1vh;
    width: 50vh;
    border-radius: 15px;
}


body {
    margin: 0%;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.Upperbody {
    display: flex;
    justify-content: center;
    height: 50vh;
    padding-top: 5vh;
}

.Upperbody img {
    width: 50vh;
}

/* _______________________ detter er for å dele opp koden inn i deler */


#Anbefalinger_av_oss,
h2 {
    display: flex;
    justify-content: center;
    padding: 5vh;
    font-size: 6vh;
    margin-bottom: 8vh;

}

.anbefalt_oss {
    display: flex;
    justify-content: center;
    height: 60vh;
    gap: 10vh;
    margin-bottom: 35vh
}

.GeForce_256 {
    border-style: solid;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: 110%;
    margin-left: 5vh;
    margin-right: 5vh;
}


.add_to_cart {
    padding-right: 3vh;

    background-color: wheat;

    display: flex;
    justify-content: right;
}

.GeForce_256 img {
    width: 40vh;
    padding-bottom: 2.9vh;
}

.GeForce_256 .geforce_info {
    background-color: wheat;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-bottom: 2vh;
}



/* _______________________ detter er for å dele opp koden inn i deler */


.Ukas_Produkt {
    display: flex;
    justify-content: center;
    height: 40vh;
    gap: 8vh;
    margin-top: 15vh;
    margin-bottom: 5vh;
    padding-bottom: 5vh;


}

/* _______________________ Shopping page */

#Handlekurv {
    margin-top: 8%;
}

.itemList {
    background-color: gray;
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    gap: 5vh;
}

.leftItemList {
    margin-left: 1vh;
}

.rightItemList {
    display: flex;
    gap: 15vh;
    margin-right: 5vh;
}




/* _______________________ detter er for å dele opp koden inn i deler */


.footer {
    background-color: #72D9FF;
    display: flex;
    height: 20vh;
    margin-top: auto;

}

/* _______________________ login side */

.login_body {
    background-color: wheat;
}

.Header_Login {
    display: flex;
    align-items: center;
    background-color: #90A3A9;
    height: 15vh;
    justify-content: center;
}

.Header_Login img {
    width: 15vh;
    padding-left: 1vh;
}

.logginn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
    height: 75vh;
}


.brukernavn input {
    height: 5vh;
}

.brukernavn input {
    height: 8vh;
    font-size: 3vh;
}

.passord input {
    height: 8vh;
    font-size: 3vh;

}

button {
    width: 10vh;
    height: 6vh;
}

button:hover {
    opacity: 0.8;
}

/* _______________________ Header Anims */

.menu-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #333;
    transform: translateX(100%);
    transition: transform 0.5s ease;
}

.menu-items.show {
    transform: translateX(0);
}

.menu-items li {
    padding: 10px;
}

.menu-items li a {
    text-decoration: none;
    color: #fff;
}

.content {
    padding: 20px;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding-right: 5vh;
}

.line {
    width: 50px;
    height: 6px;
    background-color: #fff;
    margin: 4px 0;
    transition: transform 0.3s ease;
}

.line:first-child {
    transform-origin: top left;
}

.line:last-child {
    transform-origin: bottom left;
}

.hamburger-menu.active .line:nth-child(1) {
    transform: rotate(45deg) translate(-2.1px, -11.5px);
}

.hamburger-menu.active .line:nth-child(2) {
    transform: rotate(-45deg) translate(-2.5px, 11.5px);
}

/* _______________________ Clothing Website */


.productIntro {
    width: 100%;
    height: 2vh;
    background-color: black;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.CSection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15vh;
    margin-right: 1vh;
    margin-left: 1vh;
}


.Sticker1 {
    width: 60vh;
    height: 40vh;
    background-color: aqua;
}

.Sticker2 {
    width: 60vh;
    height: 40vh;
    background-color: aqua;
}

.Sticker3 {
    width: 60vh;
    height: 40vh;
    background-color: aqua;
}


.rightNavCart img {
    width: 8.5vh;
    padding-right: 1vh;
}

.UpperbodyC {
    display: flex;
    justify-content: center;
}

.UpperbodyC img {
    width: 100%;
}